@import "tailwindcss";


@font-face {
    font-family: "Clash Grotesk";
    src: url("/fonts/ClashGrotesk-Medium.woff2") format("woff2");
    /* font-weight: 500; */
    /* font-style: normal; */
}

@theme {
    --font-clash: "Clash Grotesk", sans-serif;
}

.gradient-bg {
    background: linear-gradient(48.89deg,
            #FEC053 14.5%,
            #F2203E 37.57%,
            #B729A8 59.94%,
            #5342D6 84.41%);
}

.gradient-border {
    border: 1px solid transparent;
    border-radius: px;

    border-image: radial-gradient(50% 83.67% at 50% 50%,
            #FEC053 0%,
            #F2203E 33%,
            #B729A8 65%,
            #5342D6 100%) 1;
}

/* studio component client logo  */
@keyframes marquee {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 20s linear infinite;
}

.animate-marquee:hover {
  animation-play-state: paused;
}

/* service */
.feature-item {
    color: #a3a3a3;
  }

  .feature-item .indicator {
    width: 24px;
    height: 12px;
    border-radius: 9999px;
    flex-shrink: 0;
    opacity: 0;
    transition: all 0.3s ease;
    background: linear-gradient(
      90deg,
      #ff7a18 0%,
      #ff4d8d 50%,
      #7b61ff 100%
    );
  }

  .feature-item.active {
    color: #000;
  }

  .feature-item.active .indicator {
    opacity: 1;
  }
